* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #9f27d6;
  background: linear-gradient(
    90deg,
    rgb(11, 7, 14) 0%,
    rgb(86, 162, 255) 50%,
    rgb(11, 7, 14) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  height: 600px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.card img {
  height: 58%;
  border-radius: 20px;
}

.card h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.card p {
  font-size: 1.1rem;
}
